<a href="https://colab.research.google.com/github/mdesir8-mc/CMSC-206/blob/main/MDesir_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Michael Desir<br>Activity 2.1**

Code from article

In [ ]:
n_set = [1, 2, 3, 4, 5]

for n in n_set:
    print(n)

1
2
3
4
5

In [ ]:
for n in range(1, 6):
    print(n)

1
2
3
4
5

In [ ]:
for i in range(1, 6):
    for j in range(5, 11):
        print(f"{i} {j} ")
    print()

1 5
1 6
1 7
1 8
1 9
1 10

2 5
2 6
2 7
2 8
2 9
2 10

3 5
3 6
3 7
3 8
3 9
3 10

4 5
4 6
4 7
4 8
4 9
4 10

5 5
5 6
5 7
5 8
5 9
5 10

In [ ]:
i = 1
while i <= 5:
    print('*')
    i += 1
i = 0

*
*
*
*
*

In [ ]:
# prints even numbers
i = 1
while i <= 10:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10

In [ ]:
# prints odd numbers
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [ ]:
set_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in set_2d:
    for col in row:
        print(col, end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
values = ['value1', 'value2', 'value (guess)']
for i, value in enumerate(values):
    print(i, value)

0 value1
1 value2
2 value (guess)

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(name, age)

Alice 25
Bob 30
Charlie 35

Stars activity

In [ ]:
str_max = input("Please enter the maximum number of stars for the middle row: ")
max = int(str_max)
stars = ""
x=2
for i in range(0,max):
  stars += "*"
if (len(stars) > 0):
  print("*")
for i in range(0,len(stars)-1):
  print(stars[0:x])
  x += 1
for i in range(0,len(stars)-1):
  print(stars[1:x-i])
  x -= 1

Please enter the maximum number of stars for the middle row: 5
*
**
***
****
*****
****
***
*